
@import 'assets/fonts/feather/style.min.css';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900');
@import './mixins';


  /** Black */
  @font-face {
    font-family: "Circular";
    font-weight: 900;
    src: url("/../assets/fonts/circular/CircularStd-Black.otf");
  }
  

    /** Bold */
    @font-face {
        font-family: "Circular";
        font-weight: 700;
        src: url("/../assets/fonts/circular/CircularStd-Bold.otf");
      }
      
    /** Medium*/
    @font-face {
        font-family: "Circular";
        font-weight: 600;
        src: url("/../assets/fonts/circular/CircularStd-Medium.otf");
      }
      
    /** Book */
    @font-face {
        font-family: "Circular";
        font-weight: 400;
        src: url("/../assets/fonts/circular/CircularStd-Book.otf");
      }
  
      
    $primario: #ff7653;
    $secundario: #3264ef;
    $secundario-claro: #6c93ff;
    $terciario:     #25da6f;
    $negro: #313346;
    $gris:  #6b6f8e;
    $error: #ef3276 ;


 
    $font-family-main: "Circular";
    html {--font-size: 1!important}
    body {
    font-family: $font-family-main;
    font-size: calc(var(--font-size) * 1.2em)!important;
    overflow-x: hidden;
    @include desktop-down {  font-size: calc(var(--font-size) * 1.1em)!important;}
    }

    h1,h2,h3,h4,h5,h6,p,ul,li,span,a,button,div {
        font-family: $font-family-main!important;
    }

    h1,h2,h3,h4,h5,h6 {color:$negro}
    p,ul,li,span,a,button,div {color:$gris}

    button:focus {
      outline:none
    }

    .light {font-weight:300}
    .regular {font-weight:400}
    .bold {font-weight:700}
    .black {font-weight:900}
   .negro {color:$negro!important}
   .gris{color:$gris!important}
   .primario {color:$primario!important}
   .secundario {color:$secundario!important}
   .d-none {display: none!important}
   .d-block {display: block!important}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}


.mat-form-field-underline {
  display: none;
} 

.mat-form-field-subscript-wrapper {
  top: 68%;
  right: 0%;
}
.mat-error {
    display: inline-block!important;
    border-radius: 3px;
    font-weight: 300;
    font-size: 95%;
    background:none;
    text-align: left;
    color: $error;
    background: white!important;
    padding: 5px 0px;
}

.btn {
  span {font-size:1.1rem!important;}
  padding: 10px 30px!important;
  @include smartphone-down {padding:5px 20px!important}
}
.btn-primario {
  background:$primario;
  span {color:white};

}
.btn-secundario {
 background:$secundario;
 
  span {color:white}
}

.btn-light {background:#dadada;margin-right:20px!important;
  @include smartphone-down{margin-right:0px!important;margin-bottom:10px!important;width:100%!important}}

.check-icon {color:$terciario!important;font-weight:900}
.input-icon {color:#cecece!important}
.edit .mat-form-field-suffix {top:-60px!important}
.edit .mat-form-field-infix {padding: 1rem 0rem;}
 /* ONBOARDING*/



   

    .onBoarding {
        position: relative;
        background: #fcfdff;
        @include tablet-down {height:auto;padding:2rem 0rem}
        .row {align-items: center;height:100vh}
        .col-form {
            @include transition-slow;
          
            @include laptop-down {text-align: center}
            @include smartphone-down {height:auto}
            .wrapper-select {
              @include flexbox;
              .mat-form-field {flex:1}
            }
        }
        .col-carousel {
          height:100%;
          padding-right:0px!important;
          @include transition-slow;
          position: relative;
        }

        .bg-slide-1 {
          background:url(./assets/imagenes/login-bg.jpg);
          background-size:cover;
          background-position: center center;
          height: 100vh; 
        }

        .bg-slide-2 {
          background:url(./assets/imagenes/slide-2-bg.svg);
          background-size:cover;
          background-position: center center;
          height: 100vh; 
        }

        .bg-slide-3 {
          background:url(./assets/imagenes/slide-3-bg.svg);
          background-size:cover;
          background-position: center center;
          height: 100vh; 
        }

        .caption {
          position:absolute;bottom:25%;z-index:99;text-align:center;width:100%;padding:0px 20px;
          h2 {font-size:200%;font-weight:600}
          p {font-size:110%}
          h2,p {color:white;}

          .img-caption {width: 60%;
            margin: 0 auto;margin-bottom:1rem}
        }

        .carousel-dos .owl-dots {
          position: absolute!important;bottom:5%!important;
          width:100%!important
        }

        .carousel-dos .owl-theme .owl-dots .owl-dot.active span {
          background:$secundario
        }

  
     
       @include laptop-up {
         .d-none-col-carousel {display:none!important}
         .d-block-col-carousel {display:block!important}
       }

       .footer {
        text-align: center;
        font-size: 80%;
        margin-top:2rem;
        @include tablet-down {display:none}
        a {@include transition-slow;color:$primario}
       }

       .wrapper {
         margin:5rem;
         position: relative;
         @include desktop-down {padding:1rem;text-align: center;margin:1.5rem}
         @include laptop-down {margin:2rem}
         @include smartphone-down {padding:0rem;margin:0rem}
         .titulo {color:$negro;margin:1rem 0rem 1rem 0rem;font-weight:600;
          @include desktop-down{margin:2rem 0rem 1rem 0rem;line-height: 1.1;}
          @include smartphone-down {font-size:130%}
        }
         .subtitulo {
           color:$gris;margin-bottom:3rem;
           @include desktop-down {margin-bottom:1rem};
           @include smartphone-down {font-size:90%}
           @media only screen and (max-width:320px){display:none}
          }
          .logo {width:180px;height:auto;@include desktop-down {width:150px;height:auto}}
          /* TABS*/
          @include smartphone-down {
            .mat-horizontal-content-container {padding:0px 0px 30px 0px!important}
          }
          ngb-tabset {width:100%;}
          ngb-tabset .tab-content {
            padding-top:3rem;
            height:auto;
            border: none;
            @include desktop-down{padding-top:1rem;height:auto}}
          .nav-tabs {border:none;margin-top:20px;@include desktop-down{justify-content: center!important}}
          .nav-tabs .nav-item {margin-right:5px;}
          .nav-tabs .nav-item .nav-link {
            padding: 1rem 2rem;
            border:none;
            color: #313346;
            border: 1px solid #ffffff;
            background: #ffffff;
            box-shadow: 0px 2px 18px rgba(51, 51, 51, 0.14);
            @include transition-slow;
            border-radius:30px;
            @include smartphone-down { padding: .8rem 1rem;}
          }
          .nav-tabs .nav-item .nav-link.active {
        
            background:$primario;
            color:white;
            border:1px solid $primario;
          }
        

          .mat-horizontal-content-container {padding:0px}
          .mat-horizontal-stepper-header-container {display:none}
          .mat-step-header:hover {background-color:transparent};
          .mat-step-label {display:none}
          .mat-form-field-subscript-wrapper {
            position:relative;
            margin-top: .2rem;
          }

    

          .mat-hint {color: #a7abb7}
          .mat-step-header .mat-step-icon {
            background-color: white;
            color: #fff;
            height: 60px;
            width: 60px;
            border: 2px dotted #ff7653;
            color:$primario;

            
        }
          .mat-step-header .mat-step-icon-selected {
            color:white;
            background:$primario;
            border:1px solid $primario
          }

          .wrapper-nav-buttons {
            text-align: center;
            @include laptop-down {background:white}
          }
          .btn-secundario {@include smartphone-down {width:100%}}
          input.mat-input-element {color:$negro!important}
          .mat-form-field-flex {border:none;box-shadow: 0 0 0 1px #c4cdd5;@include transition-slow}
          .mat-focused .mat-form-field-flex {box-shadow: 0 0 0 2px $secundario-claro}
          .mat-focused .mat-form-field-label-wrapper {top: -1em;}
          .mat-form-field .mat-form-field-label-wrapper {top:-1.1rem}
          

       
      
       }/* FIN WRAPPER*/
       .mat-form-field.mat-focused .mat-form-field-label {color:$gris}
      .mat-form-field-flex {border-radius:4px!important;@include transition-slow}
       .mat-form-field-suffix {@include flexbox; mat-icon:first-child {margin-right:10px}}
       .mat-form-field-suffix .mat-icon {
         @include smartphone-down {
          height: 15px;
          width: 15px;
          font-size: 120%;
         }
       }
       .mat-form-field-wrapper {padding-bottom: 0px;}
       .mat-form-field-appearance-fill .mat-form-field-flex {border:none;box-shadow: 0 0 0 1px #c4cdd5;background:white;}
       .mat-focused .mat-form-field-flex {border:none;box-shadow: 0 0 0 1px #c4cdd5;}
       .form-step-one {
         background:white;
         padding: 25px 35px;
         @include desktop-down {padding: 25px 30px;}
         .aviso {font-size:80%;color:$gris;margin-bottom:0px;margin-top:10px}
          .form-group {  position: relative;}
          .mat-form-field-infix {color:$primario}
         .form-group img {position: absolute;top: 22%;width: 30px;}
         .mat-form-field {
           display:block;
           margin-bottom:10px;
           width:auto;padding-left:0rem;
           @include desktop-down{width:70%;margin:0 auto}
           @include laptop-down {width:100%}
          }
          .btn-secundario {
            width:100%;
            @include desktop-down{width:70%;margin:0 auto}
            @include laptop-down {width:100%}
          }
    
          .mat-form-field-suffix {color: rgba(70, 70, 70, 0.2);}
          .mat-form-field.mat-form-field-invalid .mat-form-field-label {color: $error!important;}
          .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {color:#76ffa7}
          .mat-form-field-appearance-legacy .mat-form-field-label {color: $gris}
          .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {color: $primario}
          .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {background-color: #949494;}
          
       }

       .form-step-two {
            text-align:center;
            .mat-form-field-wrapper, .mat-form-field-flex {background:#efefef}
            .mat-form-field-flex {border-bottom: 1px solid #dadada;border-left: 1px solid #dadada;@include transition-slow}
            .mat-focused .mat-form-field-flex {border-bottom:1px solid#dadada;border-left: 1px solid #dadada}
  
            .img-header {
              width: 90px;
              height: auto;
              margin-bottom: 10px;}

              .wrapper-code {
                background:white;
                  .mat-form-field {font-size:3rem;font-weight:900;width:50%;text-align: center;
                    @include desktop-down{font-size:2rem}
                    @include smartphone-down {width:100%}
                  }
                margin:.5rem 0rem 2rem 0rem;
                .mat-form-field-flex {padding:0px}
                .mat-form-field-infix {padding:15px;border-top:none}
                .mat-input-element {color:$negro!important}
              }
       }

    
       .form-step-three {

        .btn-secundario {
          width:100%;
          @include desktop-down{width:70%;margin:0 auto}
          @include laptop-down {width:100%}
        }

        .inline-inputs {
          @include flexbox();
          @include align-items(center);
          width:100%;
          margin:0 auto;
          @include laptop-down {display: block;}
          @include tablet-down {display:block}
          
        }

        .inline-inputs .mat-form-field {
          flex:1
        }

        .inline-inputs .mat-form-field:first-child {
          margin-right:10px
        }

        .input-color-wrapper {
          @include flexbox;
          @include justify-content(center);
          label {display:block;color:$negro}
        }

        .input-color {
          width: 80px;
          height: 80px;
          cursor: pointer;
          border-radius: 50%;
          margin: 10px;
          padding: 10px;
          border: 3px solid #d7d9ea;
          box-shadow: 0px 0px 12px rgba(131, 140, 199, 0.2);
          &:focus {outline:none}
        }
        .input-text.primario {margin-right:30px}
        .input-text p {font-size:80%}



        .dominio {color:$primario;font-weight:600}
        .input-dominio  {
          flex: 1;
          height: 66px;
          position: relative;
          top: -17px;
          margin-bottom:0px;
          @include laptop-down {
            margin: 20px 0px;
          }
          @media (max-width:375px) {
            margin: 10px 0px;
            display: block;
            height: auto;
            .input-group-prepend, .input-group-append {
              width: 100%;
              .input-group-text {width:100%;border-radius:0px}
            }

            .input-group-prepend .input-group-text {border-bottom:none}
            .input-group-append .input-group-text {border-top:none}
          }

        
          .mat-hint {font-size:75%}
          .wrapper-hints {    
            display: block;
            position: relative;
            top: -5px;
            width:100%;
            text-align: right;
            span {width:100%;text-align: right}
            .badge-error {background:none;color:$error;font-size:75%}
          }
          input {
            height: 62px;
            font-size:1.2rem;
            padding: 0px 10px;
            flex: 1;
            border:1px solid #c4cdd5;
            span {font-size:1.2rem}
            &:focus{box-shadow:none;outline:none;border:1px solid #c4cdd5};
            @include smartphone {
              width: 100%;
            }
          }
        }

        .input-group-text.bixpro {
          background:$primario;
          color:white;
          border-color:$primario;
          border-radius: 0px 5px 5px 0px;
        }
  
        .mat-form-field.mat-form-field-invalid .mat-form-field-label,
        .mat-form-field-invalid .mat-input-element {color:$error!important}
        .mat-form-field-appearance-fill .mat-form-field-infix {
          padding: 0em 0 .75em 0;
      }

  
  
        .link-inicio{ cursor: pointer;text-decoration: underline!important;font-size:95%}
        h4:first-child {margin-top:20px}

        .wrapper-cards {
          margin:.5rem 2rem 2rem 2rem;
          @include flexbox;
          @include align-items(center);
          @include laptop-down {display:block;margin:0rem 0rem 2rem 0rem}
          .box-store {
            @include transition-slow;
            background: #ffffff;
            box-shadow: 1px 2px 12px rgba(131, 130, 130, 0.05);
            display: inline-block;
            padding: 20px 15px 20px 15px;
            border: 1px solid #dadada;
            border-radius:5px;
            margin: 10px;
            height:280px;
            @include desktop-down {height:250px}
            @include laptop-down {height:260px;width:28.5%}
            @include tablet-down {
              width: 100%;
              height: auto;
              margin: 0px;
              margin-bottom: 20px;
          }
            flex:1;
            cursor: pointer;
            &.active, &:focus, &:hover {
              background: #fffefa;
              border: 2px solid $secundario-claro;
              transform: scale(1.05, 1.05);
            }

            h4 {font-size:95%;margin-top:2rem;font-weight:bold}
            p {font-size:80%}

            img {
              display: block;
              width: 90px;
              height: auto;
              margin: 0 auto;
              @include desktop-down {
                width:65px
              }
            }

            .mat-form-field {width:100%}
       

           
          }
        }
        
        .wrapper-step-three {
          padding: 50px 40px;
          background: white;
          border-radius: 10px;
          height:100%;
          margin:0px;
          border:2px dotted #efefef;
          @include laptop-down { padding: 20px 30px}
        }
         .mat-form-field{display:block;@include desktop-down {width:100%;margin:0 auto};@include laptop-down {width:100%}}
         .mat-form-field-wrapper{padding-bottom: 20px;}
         textarea {resize: none;overflow-y:hidden;padding: 10px 0px;margin: 10px 0px;}
         .select .mat-form-field-wrapper {@include desktop-down{width:90%;margin:0 auto};;@include laptop-down {width:100%}}
      
       }

       /* PRECIOS*/
       .precios {
         padding: 0rem 1rem;
         @include desktop-down {padding:0rem}
         @include laptop-down {padding:0rem .5rem}
         ul, li {list-style: none!important;padding-left:0px};
         .tarjeta {
          border: none;
          border-radius: 10px;
          padding: 15px 20px 10px 20px;
          box-shadow:none;
          @include flexbox;
          text-align: left;
          margin:8px;
          background: white;
          box-shadow: 0px 0px 12px #d6d9e4;
          @include smartphone-down {
            display:block;
            border-radius: 0px;
            padding: 25px 20px 10px 20px;
            text-align: center;
          }
         }

         .encabezado {
           img {
            width: 50px;
            @include smartphone-down {margin:0 auto}
           }
          .titulo {color:$negro;font-weight:800;margin:0px;margin-top:10px;margin-bottom:0px}
          .precio {color:$gris;font-size:135%;margin-top:0px;font-weight:400; span {font-size:80%;font-weight:300}}
          .adicional {margin-top:10px;color:$primario;margin-bottom:0px;font-size:80%}
          .dominio {color:$gris;font-size:80%}
          flex:1;
          margin-right:3rem;
          padding-left:2rem;
          @include flexbox;
          @include flex-direction(column);
          @include justify-content(center);
          @include tablet-down {margin-right:1rem}
         }
         .lista {
          text-align: left;
          flex:2;

          mat-icon {
            top: 5px;
            position: relative;
            margin-right: 20px;
            font-size: 20px;
            width: 10px;
            height: 10px;
          }
          
           li {
            line-height: 2;
            border-bottom: 1px dotted #d8d8d8;
            font-size:85%;
            @include tablet-down {font-size:95%}
            .no-border-b {border-bottom:none}
           }
          
         
         }
       }
     
    }



    /* SWAL */
    .swal2-popup .swal2-styled.swal2-confirm {
      background-color: $terciario!important;
  }

  .swal2-popup .swal2-styled:focus {box-shadow:none!important}

  .swal2-icon.swal2-warning {
    border-color: $terciario!important;
    color: $terciario!important;
  }

  .swal2-icon-text {color:$terciario!important}
  .swal2-popup .swal2-title {color:$negro!important}
  .swal2-icon {display:none!important}
  .swal2-popup {padding:2rem!important}

  .sweet-confirmacion .swal2-content .row .col-12 p {
    margin: 20px 0px !important;
    font-size: 95%;
  }
  .sweet-confirmacion .swal2-content h4 {font-size:115%!important;color:$negro!important}
  .sweet-confirmacion .swal2-content .field-info {
    background: #f3f3f3;
    padding: 2px;
    margin-bottom: 15px;
  }

  .sweet-confirmacion .swal2-confirm {padding: 15px 30px !important;margin-right:10px!important;background:$terciario!important}
  .sweet-confirmacion .swal2-cancel {
    color: white!important;
    background-color: $primario!important;
    border-color: $primario!important;
    padding: 15px 30px !important;
  }
  .sweet-confirmacion .swal2-confirm:focus,
  .sweet-confirmacion .swal2-cancel:focus {box-shadow:none!important}

  /* COLOR PICKER*/
  .color-picker {
    padding: 20px;
    box-shadow: 0px 0px 12px #e8e8e8;
    border-radius: 10px;
    border:none!important
  }

  .color-picker .arrow.arrow-right {display:none!important}
  .color-picker .selected-color,
  .color-picker .preset-area .preset-color {border:none!important}
  .color-picker .preset-area .preset-color {box-shadow: 2px 0px 12px #e0e0e0;}
  .color-picker .hex-text .box input {border:1px solid #c4cdd5}
  .color-picker .hex-text .box input:focus {outline:none!important;background:#fafafa!important}
  